body {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #2e2e31;
    margin: 0;
    height: 100%;

}
* {
    box-sizing: border-box;
   
}
.cabecera { 
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    margin: 0%;
    
}
.contenedor-de-cabecera {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}
.menu1{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/*menu de opciones*/
.menu  {
    display: flex;
    list-style: none;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}
.opcion{
        line-height: 2.5;
        padding: 0 10px;
        border-radius: 100px;
        background-color: white;
}
a {
    text-decoration: none;
    color: #2e2e31;
    display: block;
    cursor: pointer;
}
.opcion:hover {
 
    color: violet;
   
 }
 .opcion1:hover {
    background-color:  rgba(238, 130, 238, 0.566);
 }

.opcion1 {
        line-height: 2.5;
        padding: 0 10px;
        border-radius: 100px;
        background-color: rgba(214, 43, 226, 0.73);
        color: aliceblue;
}


@media 
(max-width: 600px){
    .menu1 {
     display: none;
    } }


/*section saludo*/

.boton:hover{
    
   background-color: rgba(238, 130, 238, 0.566);
}

.section {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}

@media (max-width: 700px){
.section {
    padding: 80px 20px;
   
}}

.acerca-de-seccion{
    min-height: calc(100vh - 90px);
    margin-top: 90px;
}
.columna {
    width: 100%;
    max-width: 1100px;
}

@media (max-width: 900px){
.columna {
    max-width: 100%;
}
}

.contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 1100px){
    .contenido {
        flex-direction: column;
    }
    }
    
.info {
    
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    
}

.saludo{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
p {
    line-height: 1.4;
    text-align: center;
}


.nombre {

    margin-top: 0;
    margin-bottom: 5px;
    color: rgba(214, 43, 226, 0.73);
    
}
h1, .text--xxl {
    font-size: 60px;
    font-weight: 900;
}
.descripcion { 
    color: #616161;
    font-size: 16px;
    margin-bottom: 40px;
}
.foto-inicial{width: 450px; 
    height: 350px;
}

.boton {
    background-color: rgba(214, 43, 226, 0.73);
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 700px){
    .foto-inicial {
        padding-top: 30px;
        width: 350px;
        height: 300px;
    }}
@media (max-width: 700px){
    .info {
        align-items: center;
        text-align: center;
    }}
@media (max-width: 550px){
    h1 {
        font-size: 45px;
    }} 
    

/*secciones habilidades*/
.skill-secciones {
    background-color: #f6f7fb;
}
.h2, .text--xl {
    font-size: 45px;
    font-weight: 900;
}
.titulo {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.recuadros{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.skills-recuadros {
    justify-content: center;
}

.skill {
    
        color: #2e2e31;
        padding: 40px 20px;
        background-color: #fff;
        border: 1px solid #dddfe5;
        border-radius: 8px;
        width: 260px;
        margin: 10px;
        padding: 30px;
        transition: 0.2s;
    
}
.skill-item:hover{
    border-color: violet;
    color: violet;
}


.skill-item {
    color: #2e2e31;
    text-align: center;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;
    transition: 0.2s;
}
@media (max-width: 450px){
    .skill-item {
        padding: 10px;
        margin: 5px;
    }
    }
 @media (max-width: 580px){
    .skill-item {
        width: calc(50% - 20px);
    }
    }

.skill-titulo {
    font-size: 1.25em;
    font-weight: 700;
}
.contenido2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*frase*/
.alguien-seccion {
    background-color: #F163FF;
    color: white;
}

/*Grilla de proyectos*/
.imagen-proyecto {
    width: 285px;
    height: 365px;
}
.project {
    border: 1px solid #dddfe5;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;
    transition: 0.2s;
    text-align: center;
}

    @media (max-width: 550px){
.project {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25em;
} }
    

.project:hover {
    border-color: violet;
    color: violet;
    
}
.nombre-proyecto {
    font-weight: 600;
    margin-top: 20px;
}

@media (max-width: 450px){
.imagen-proyecto {
    padding: 10px;
    margin: 0px;
} }

.proyectos1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
/*seccion contactame*/
.contacto-seccion2 {
    background-color: #f6f7fb;
    padding-top: 200px;
}

.contacto-seccion {
    flex-direction: column;
        padding: 0;
        background-color: transparent;
}
.contacto {
    display: flex;
    text-align: left;
    background-color: #ffffff;
    padding: 80px 60px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
}
@media (max-width: 500px){
    .contacto {
        padding: 20px;
        flex-direction: column;}
    }
       
    @media (min-width: 900px){
    .contacto {
       
       display: flex;
        border: 0;}
    }
 /*seccion Redes*/
 .contact-social-item {
    display: flex;
    margin: 5px 0;
}

 .contacto-social-links {
    margin-top: 40px;
    transition: 0.2s;
}
.contacto-social-link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;}

@media (max-width: 900px){
    .contacto-social-links {
        display: flex;
        flex-wrap: wrap;
    } 
    }
   
.contacto-social-item {
    display: flex;
        
    }  
@media (max-width: 500px){
    .contacto-social-item {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }   
} 
.contacto-social-icon {
     display: block;
    width: 2.2rem;
    height: 2.2rem;
    background-color: #fff;
    color: #F163FF;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-right: 10px;
    text-align: center;
    transition: 0.2s;
    }  
.fab, .far {
    font-weight: 400;
} 
ul li, ol li {
    line-height: 1.4;
}

/*seccion formulario*/ 


.input-nombre {
    display: flex;
}

@media (max-width: 500px){
.input-nombre {
    flex-direction: column;
}
}
.form-control {
    margin-bottom: 15px;
    flex-grow: 1;
}
label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
}
input[type="text" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 3px;
    margin-left: 20px;
}
input[type="email" i] {
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
    margin-left: 20px;
}
input, textarea {
    border: 0;
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    font-size: var(--text-sm);
    padding: 10px 15px;
    display: block;
    width: 100%;
    outline: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.2s;
}
.icon-invalid {
    color: #f5414f;
}
.icon-valid {
    color: #88c459;
}
.icon-invalid, .icon-valid {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: translateY(50%);
}


/*comienzo de footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
    background-color: #F163FF;
    color: white;
}
.footer-nav-menu {
    display: flex;
    margin: 0;
}
.footer-nav-item {
    margin: 0 10px;
}
@media (max-width: 700px){
.footer-nav-menu {
    display: none;
}
}
.footer-social-links {
    display: flex;
    margin: 30px 0;
}
.footer-social-link {
    border-radius: 50%;
    width: 2.7rem;
    margin: 10px;
}
.contacto-columna {
    width: 50%;
    padding-right: 20px;
}
@media (max-width: 900px){
.contacto-columna {
    width: 100%;
    margin-bottom: 40px;
}
}
.contacto-columnA:first-of-type {
    padding-right: 20px;
}
.footer-social-icon {
    display: block;
    width: 2.7rem;
    height: 2.7rem;
    background-color: white;
    color: #F163FF;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 2.7rem;
    text-align: center;
    transition: 0.1s;
}
